<?xml version="1.0"?>

<launch>

          <!-- Map server -->
    <arg name="map_file" default="$(find robot_navigation)/maps/map.yaml"/>
    <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

      <!-- AMCL used for localization -->
    <include file="$(find robot_navigation)/launch/amcl.launch" />

    <include file="$(find robot_navigation)/launch/move_base.launch" />
    
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_navigation)/rviz/navigation.rviz"/>
</launch>